@import url('user-menu.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */

.container {
    background-image: url('img/bg-shade_5.png');
    width: 100%;
    margin: auto;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    color: #140D0F;
}




/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.header-logo {
    width: 200px;
}

.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 2px;
    padding: 15px;
}

.header-nav a:nth-child(1):hover {
    background-image: url('img/line_1.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-nav a:nth-child(2):hover {
    background-image: url('img/line_2.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-nav a:nth-child(3):hover {
    background-image: url('img/line_3.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-nav a:nth-child(4):hover {
    background-image: url('img/line_4.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-nav a:nth-child(5):hover {
    background-image: url('img/line_4.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-nav a:nth-child(6):hover {
    background-image: url('img/line_5.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}

.header-search {
    cursor:pointer;
    font-size: 1.3rem;
}

.header-search:hover {
    color: #DE3E16;
}

.responsive-nav {
    display: none;
}

.responsive-nav-close {
    display: none;
}

/* New Releases */

.new-releases {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    
    /* background-image: url('img/bg-shade_5.png'); */
}

.new-releases h2 {
    grid-column: 1/3;
}

.coming-soon {
    grid-column: 1/4;;
}

.coming-soon-item {
    width: 350px;   
    margin-top: 20px;
    position:relative;
}

.coming-soon a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.coming-soon-item-background {
    width: 100%;
    height: 200px;
    background-image: url('img/holly.jpg');
}

.coming-soon-item img {
    width: 150px;
    position: absolute;
    top:-10px;
    left: 50%;
    transform: translateX(-50%);
}

.coming-soon-item-text {
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9rem;
}

.blur {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
}

.latest-news {
    grid-column: 5/13;
}

.latest-news-item {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.latest-news a {
    text-decoration: none;
    color: black;
}

.news-item-info {
    font-size: 0.8rem;
}

/* Newsletter */

.newsletter {
    width: 100%;
    padding:40px;
    background-image: url('img/bg-shade-black.png');
    background-repeat: no-repeat;
    background-size: 75% 100%;
    background-position:160% 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.newsletter-text {
    font-size: 2.5rem;
    max-width: 500px;
    font-family: 'Spectral', serif;
    font-weight: 500;
}

.newsletter-form {
    background-color: #312E2A;
    max-width: 400px;
    padding: 20px;
}

.newsletter-form form {
    width: 70%;
    margin:auto;
    /* display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start; */
}

.newsletter-form h2 {
    font-size: 1.8rem;
    color: yellow;
}

.newsletter-form input {
    width: 100%;
}

.newsletter-form label {
    color: white;
    font-size: 0.8rem;
}

.newsletter-form input[type=submit] {
    width: 100%;
    margin-top: 10px;
}

#permission {
    margin-top: 10px;
    text-align: left;
    justify-self: flex-start;
}



#permission + label {
    color:yellow;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.footer-info-social {
    text-align: center;
}

.footer-info-social a {
    font-size: 2rem;
    color: #111;
    padding: 5px;
}

.footer-info-links {
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.footer-info-links-a p {
    line-height: 5px;
}

.footer-info-links-a a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #111;    
}

.footer-img {
    width: 300px;
}


/* Responsive */

@media(max-width: 992px) {
    

    .responsive-nav {
        display: block;
        position:absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }

    .responsive-nav-close {
        display: block;
        position:absolute;
        right: 20px;
        top: 10px;
        cursor: pointer;
    }

    .responsive-nav-close i {
        font-size: 2.5rem;
    }

    .responsive-nav i {
        font-size: 2.5rem;
        color: #111;
    }

    .header-nav {
        width: 100%;
        height: 100vh;
        z-index: 200;
        position: absolute;
        top:0;
        left: -100%;
        background-color: #111;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.6s;
    }

    .header-nav-open {
        left: 0;
    }

    .header-nav a, i {
        color: whitesmoke;
    }

    .footer-info-social i {
        color: #111;
    }

    .footer-info-links {
        gap: 20px;
    }
}

@media(max-width: 1024px) {
    .new-releases {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        width: 120px;        
    }

    .header-nav a {
        padding: 7px;
    }

    
}